.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.container_head {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 14px;
  margin-top: 40px;
  margin:  40px 296px 0px; 
}

.service_head {
  font-family: Space Grotesk;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 52px;
  color: #fefefe;
}

.service_subhead {
  color: #cfcfcf;
  font-family: Space Grotesk;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  width: 379px;
  height: auto 48px;
}

.service_btn {
  display: flex;
  width: 405px;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  color: var(--base-900-light, #121212);

  font-family: Space Grotesk;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  border-radius: 30px;
  background: var(--primary-gold-300, #fdd649);
  margin-top: 40px;
}

.checkBoxContainer {
  display: inline-flex;
  align-items: flex-start;
  gap: 28px;
  margin-top: 40px;
}

.container_footer {
  display: inline-flex;
  align-items: flex-start;
  gap: 20px;
  margin-top: 95px;
}

.container_footer p {
  color: var(--base-700-dark-tertiary, #b7b7b7);
  font-family: Space Grotesk;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
