.payment-success-container {
    border-radius: 20px;
    border: 1px solid var(--base-100-dark, #292929);
    background-color: var(--base-50-dark, #1e1e1e);
    display: flex;
    padding-bottom: 20px;
    flex-direction: column;
  }

  .payment-success-image {
    aspect-ratio: 1.75;
    object-fit: contain;
    object-position: center;
    width: 100%;
    overflow: hidden;
    align-self: stretch;
  }

  @media (max-width: 991px) {
    .payment-success-image {
      max-width: 100%;
    }
  }

  .payment-success-title {
    color: var(--base-800-dark, #cfcfcf);
    text-align: center;
    align-self: center;
    margin-top: 21px;
    max-width: 508px;
    font: 700 24px/34px Space Grotesk, -apple-system, Roboto, Helvetica,
      sans-serif;
  }

  .payment-success-description {
    color: var(--base-800-dark, #cfcfcf);
    text-align: center;
    align-self: center;
    margin-top: 29px;
    white-space: nowrap;
    font: 500 16px/24px Space Grotesk, -apple-system, Roboto, Helvetica,
      sans-serif;
  }

  @media (max-width: 991px) {
    .payment-success-description {
      white-space: initial;
    }
  }

  .payment-success-button {
    color: var(--base-900-light, #121212);
    white-space: nowrap;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    background-color: var(--primary-gold-300, #fdd649);
    align-self: center;
    margin-top: 31px;
    width: 100%;
    max-width: 508px;
    padding: 8px 60px;
    font: 500 16px/24px Space Grotesk, -apple-system, Roboto, Helvetica,
      sans-serif;
  }

  @media (max-width: 991px) {
    .payment-success-button {
      white-space: initial;
      max-width: 100%;
      padding: 0 20px;
    }
  }