.default-button {
  background-color: #fdd649;
  color: #121212;
  font-size: 22px;
  font-family: "Space Grotesk";
  font-weight: 500;
  text-align: center;
  word-wrap: break-word;
  cursor: pointer;
  width: 30rem;
  border-radius: 5rem;
  border: none;
  padding: 0.5rem;
  transition: all 0.2s ease-in-out;
}

.default-button:hover {
  background-color: #fee38b;
}

.default-button:active {
  background-color: #feefc3;
}
